# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment / secrets
.env
*.env
.env.*
!.env.example
config/config.env

# Logs
logs/
*.log

# Data exports
data/raw/
data/processed/
data/exports/

# Power BI temporary files
*.tmp
*.bak

# Python cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/


# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Airflow runtime files
airflow_home/
airflow.db
airflow.cfg
webserver_config.py


# Jupyter
.ipynb_checkpoints/

# Docker
docker-compose.override.yml
*.pid

# PostgreSQL
*.db
*.sqlite3
*.sql.bak

# macOS
.AppleDouble
.LSOverride

# Windows
Desktop.ini

# Python packaging
dist/
build/
*.egg-info/

# Testing
.cache/

# IDE
.idea/

# Temporary
*.swp
*.swo
